<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

    .jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
    }

   body{
    font-family: 'Jersey 15', serif;
   }


    .foto_Perfil{
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }

    .img_icones{
        width: 10vh;

    }

    
   .icones_nav{
    width: 50px;
   }
</style>

<body class="bg-dark">
    <div class="container text-center  ">
        <div class="row text-white mt-2">
            <div class="col-4">
                <img class="foto_Perfil" src="C:\Users\ruana\Desktop\GITHUB\HTML\fotos\fab1efe190c71240e13801044a0b1c722db4c908 (1).png" alt="">
            </div>
            <div class="col-4 ">
                <h1>QUI<br> TREINO DE:<br>COSTAS</h1>
            </div>
            <div class="col-4">
                <div class="col-6"></div><h1>
                <img src="C:\Users\ruana\Desktop\GITHUB\HTML\fotos\52393f0797555badbb72a9340d35716d8d33f324.png" style="width: 30px;" alt="">
                4/5</h1>
            </div>
        </div>
        <div class="container bg-white pb-4 mt-2  rounded-3">
            <div class="row-12 pb-4  ">
                <h2>ÁREA DE TREINO</h2>
            </div>
            <div class="row">
                <div class="col-4">
                    <img class="img_icones" src="C:\Users\ruana\Desktop\GITHUB\HTML\fotos\dc342c9c2b868e3d66abeba38253755743f8c1ff.png" alt="">
                    <h4>MONTAR TREINO</h4>
                </div>
                <div class="col-4">
                    <img class="img_icones" src="C:\Users\ruana\Desktop\GITHUB\HTML\fotos\aa8258bf0c8b6f35f96665c7c1892bf7cc4e54c8.png" alt="">
                    <h4> CONSULTAR TREINO</h4>
                </div>
                <div class="col-4">
                    <img class="img_icones" src="C:\Users\ruana\Desktop\GITHUB\HTML\fotos\1f4faf9e27e86556ea80634bb03f57893459276c.png" alt="">
                    <h4> SOLICITAR TREINO</h4>
                </div>
            </div>
        </div>
        <div class="container bg-white pb-4 mt-2 rounded-3">
            <div class="row-12 pb-4  ">
                <h2>ÁREA DE NUTRIÇÃO</h2>
            </div>
            <div class="row">
                <div class="col-4">
                    <img class="img_icones" src="C:\Users\ruana\Desktop\GITHUB\HTML\fotos\27c8d4cbb69bed0d51184e49f753e68806e47378.png" alt="">
                    <h4>MONTAR ROTINA</h4>
                </div>
                <div class="col-4">
                    <img class="img_icones" src="C:\Users\ruana\Desktop\GITHUB\HTML\fotos\fbb02ea0c176b3e2b0055ac46e49363958fcb8f3.png" alt="">
                    <h4> CONSULTAR ROTINA</h4>
                </div>
                <div class="col-4">
                    <img class="img_icones" src="C:\Users\ruana\Desktop\GITHUB\HTML\fotos\46f7b9042867520107dae26e37fdb26c9c074025.png" alt="">
                    <h4> SOLICITAR CONSULTA</h2>
                </div>
            </div>
        </div>
        <div class="container bg-white mt-5 p-1 rounded-3">
            <div class="row">
                <div class="col-4">
                    <img class="icones_nav" src="C:\Users\ruana\Desktop\GITHUB\HTML\fotos\323262a316c571ed31582850705f1105977fe483.png" alt="">
                </div>
                <div class="col-4">
                    <img class="icones_nav" src="C:\Users\ruana\Desktop\GITHUB\HTML\fotos\8a7b66d8e1eff8f4a39b6c051298871740fbb661.png" alt="">
                </div>
                <div class="col-4">
                    <img class="icones_nav" src="C:\Users\ruana\Desktop\GITHUB\HTML\fotos\953085488ce4ee39ecabaaff572b5d1fef2d5152.png" alt="">
                </div>
            </div>
        </div>
    </div>    
</body>

</html>
